<!DOCTYPE html>
<html>
<head>
	<title>Tôm cua cá</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>
<body>
	<div id="app">
		<h1 class="title has-text-centered has-text-danger is-large">Tôm cua cá</h1>
		<div class="container">
			<div class="score">
				<h2>Tài khoản: {{score.toLocaleString()}}</h2>
				<img src="image/coin.png" width="40px" alt="">
			</div>
			

			<div class="logo-image">

				<div v-for="item in placedArr" v-bind:class="{'logo-item':true,active:item.active}">
					<img  v-bind:src="'image/'+item.image" alt="">

					<a v-if="item.label" class="image-label">{{item.label}}</a>

					<input class="input is-medium" type="number"  v-model="item.score" min="0" v-bind:max="score" v-on:change="changePlacedArr(item.name)">

				</div>
			</div>
			<div class="has-text-centered is-large alert has-text-danger" style="font-size: 20px;font-weight: bold;" v-html="alert" >
				{{alert}}
			</div>
			<!-- Input score -->
			<div>

				<!-- <template v-for="elem in placedArr">
					<b> {{elem.name}} </b>:<input type="number" v-model="elem.score" @keydown="updateScore" v-bind:max="score">	
				</template> -->

				
			</div>
			<!--  -->
			<div class="bottom-panel has-text-centered">
				<div class="dice is-center" v-if="this.score>0">
					<img v-for="image in diceArr" v-bind:src="'image/'+image" alt="">
					
				</div>
				<h1 class="title" v-if="this.score<=0">Bạn đã thua cuộc</h1>
				
				<a v-if="this.score>0" v-bind:class="{button:true,'is-danger':true,'is-rounded':true,'is-large':true,'is-loading':rolling}" v-on:click="setDice">Quay</a>
				<a v-if="this.score<=0" v-bind:class="{button:true,'is-danger':true,'is-rounded':true,'is-large':true,'is-loading':rolling}" @click="replay">Chơi lại</a>

				
			</div>
		</div>
	</div>

</body>
<script>
	new Vue({
		el:"#app",
		data:function(){
			return {
				score:100,
				placedScore:0,
				rolling:false,
				alert:'',
				list:[],
				placedArr:[{name:'Tôm',image:'tom.jpg',score:0,active:false,label:''},{name:'Cua',score:0,image:'cua.jpg',active:false,label:''},{name:'Cá',score:0,image:'ca.jpg',active:false,label:''},{name:'Hổ',score:0,image:'ho.jpg',active:false,label:''},{name:'Bầu',score:0,image:'bau.jpg',active:false,label:''},{name:'Gà',score:0,image:'ga.jpg',active:false,label:''}],
				diceArr:['tom.jpg','cua.jpg','ca.jpg'],
				imgArr:['tom.jpg','cua.jpg','ca.jpg','ho.jpg','bau.jpg','ga.jpg']
			}
		},
		methods:{
			
			setDice:function(){
				const images=this.imgArr;
				let tempArr=[];
				// Reset active logo
				this.placedArr.forEach((element)=>{
					element.active=false;	
				})
				this.placedArr.forEach((element)=>{
					element.label='';	
				})
				// Rolling 20 times
				for(let i=0;i<20;i++)
				{
					
					setTimeout(()=>{
						this.rolling=true;
						tempArr=[];
						for(let i=0;i<3;i++){
						tempArr.push(images[Math.floor(Math.random()*images.length)]);	
						}
						this.diceArr=tempArr;
						if(i==19){
							this.rolling=false;
							// Rolled
							this.rolled();
						}
					},i*100);
				}
				
				
			},
			rolled:function(){
				let tempScore=this.score;
				this.alert='';
				this.placedArr.forEach( (element, index)=> {
					let countSelected=this.diceArr.filter(x=>x===element.image).length;
					if(countSelected>0){
						element.active=true;
					}
					// Caculate winning point
					let score=this.diceArr.filter(x=>x===element.image).length*element.score;
					// Detect if player lose or win
					if(score!==0){
						tempScore=tempScore+score;
						 element.label='+'+score;	
					}else{
						if(element.score>0){
							tempScore=tempScore-element.score;
							element.label='-'+element.score;	
						}
					}


					element.score=0;
					
				});
				if(this.score>tempScore){
					this.alert="Bạn đã thua "+(this.score-tempScore) +"<i class='fas fa-coins' style='color:yellow'></i>";
				}
				else{
					this.alert="Bạn đã thắng "+(tempScore- this.score)+"<i class='fas fa-coins' style='color:yellow'></i>";
				}
				this.setScore(tempScore);
			},
			// Caculate the score after roll
			updateScore:function(){
				for(let i=0;i<this.placedArr;i++){
					this.score=this.score-this.placedArr[i].score;
				}
			}
			,
			// Score change animate
			setScore:function(score){
				let sub=Math.abs(score-this.score);
				if(score<=this.score){
					for(let i=0;i<sub;i++){
					setTimeout(()=>{
						this.score=this.score-1;
					},500);
					}
				}
				else{
					for(let i=0;i<sub;i++){
					setTimeout(()=>{
						this.score=this.score+1;
					},500);
					}
				}
				
				
			},
			// Replay button
			replay:function(){
				this.score=100;
				this.alert='';
			},
			// Limit max of input
			changePlacedArr:function (changedItemName){
				this.placedScore=0;
				this.placedArr.forEach((element)=>{
					if(element.name!=changedItemName){
						this.placedScore=parseInt(this.placedScore)+parseInt(element.score);	
					}
					
				});
				let remainScore=this.score-this.placedScore;
				console.log(remainScore);

				this.placedArr.forEach((element)=>{
					if(element.name==changedItemName){
						if(element.score>remainScore){
							element.score=remainScore;
						}
					}
				})
			}
			
		},
		computed:{
			
			
		},
		updated:function(){
				
		}

	})
</script>
</html>