body{
	background-repeat: no-repeat;
	background-image: url('background.jpg');
	 background-size:cover;
	   background-position: center center; 
}

.logo-image img{
	width: 33.3%;
	height: 300px;
	
}
.active{
	 -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
	box-shadow:inset 0px 0px 0px 20px green;
	opacity:1;
	background-color: red;
}
.dice img{
	width: 100px;
	height: 100px;

}
.dice{
	margin: 0px auto;
	width: 320px;
	border: 5px solid gray;
}
.score h2{
	float: left;
	font-weight: 1000;
	font-size: 30px;

}
.score{
	width: 500px;
	margin-top: 5px;
}
.logo-item{
	width: 33%;
	display: inline-block;
	opacity: 0.9;
}
.logo-item img{

	position: relative;
	width: 100%;

}
.logo-item input{
	
	position: absolute;
	width: 8%;
	margin: -100px 10px 0px 10px;
}

